.minecraft {
  position: relative;
  min-height: 100%;
  padding: $space-card;
  display: flex;

  @include responsive {
    flex-direction: column;
  }
}

.left,
.right {
  flex: 1 1 50%;

  & > .card:not(:first-child) {
    margin-top: $space-card;
  }
}

.left {
  padding-right: calc($space-card / 2);

  @include responsive {
    padding-right: 0;
  }
}
.right {
  padding-left: calc($space-card / 2);

  @include responsive {
    padding-top: $space-card;
    padding-left: 0;
  }
}

.card {
  background-color: var(--color-bg);
  border-radius: $corner-radius-lg;
  box-shadow: var(--box-shadow);

  &__title {
    padding: $space-mobile;
    padding-bottom: 0;
    font-weight: 500;
  }

  &__content {
    padding: $space-mobile;
  }

  &__btns {
    display: flex;
    padding: $space-mobile;
    align-items: center;
  }

  &__btn:not(:first-child) {
    margin-left: 5px;
  }

  &__mod {
    padding: $space-mobile;
  }
}

.image {
  position: relative;
  height: 500px;
  border-top-left-radius: $corner-radius-lg;
  border-top-right-radius: $corner-radius-lg;
  overflow: hidden;

  @include responsive {
    height: 200px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.download {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: $space-mobile;

  @include responsive {
    flex-direction: column;
    gap: $space-para;
  }
}

.mod__item {
  padding: 0 $space-mobile;
  display: flex;
  justify-content: center;
  align-items: center;
}

.markdown {
  display: flex;
  justify-content: center;
  align-items: center;
}
