.ffxiv {
  position: relative;
  display: flex;
  flex-direction: column;

  .messages {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    max-width: 45.7143rem;
    margin: 1rem auto;

    & > .ant-alert {
      flex: 1 1 auto;
      margin: 0 1rem;

      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }

  .ant-tabs {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    &-tab {
      border-radius: 0 !important;
    }

    &-content-holder {
      flex: 1 1 auto;
      position: relative;
      display: flex;
      flex-direction: column;
    }

    &-card {
      .ant-tabs-content {
        flex: 1 1 auto;
        margin-top: -1.1429rem;

        & > .ant-tabs-tabpane {
          background: #ffffff;
        }
      }

      & > .ant-tabs-nav::before {
        display: none;
      }

      .ant-tabs-tab {
        background: transparent;
        border-color: transparent;

        &-active {
          background: #ffffff;
          border-color: #ffffff;
        }
      }
    }
  }

  .ant-table-title {
    background-color: #fafafa;
    text-align: center;
  }

  .tabs-about {
    padding-left: 1.1429rem;
    padding-right: 1.1429rem;

    & > div {
      max-width: 45.7143rem;
      margin: 1.4286rem auto;
    }
  }
}
