.ffxiv {
  position: relative;
  display: flex;
  flex-direction: column;

  &-settings {
    position: absolute;
    width: 100%;
    top: 40px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 50px;
    font-size: 15px;

    &-update {
      flex: 1 1 auto;
      text-align: right;
      margin-right: 30px;
    }

    &-tz {
      flex: 0 0 auto;
      width: 300px;

      & > span {
        display: inline-block;
        width: 70px;
        text-align: center;
        overflow: visible;
      }

      & > .tz-selector {
        width: 200px;
      }
    }

    @include responsive(md) {
      height: 80px;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &-update {
        flex: 0 0 auto;
        margin-right: 0;
        margin-top: 8px;
      }

      &-tz {
        flex: 1 1 auto;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .ant-tabs {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    &-nav {
      margin-bottom: 0 !important;
    }

    &-tab {
      border-radius: 0 !important;
      background: transparent !important;
    }

    &-content-holder {
      flex: 1 1 auto;
      position: relative;
      margin-top: 50px;
      border-top: 1px solid transparent;
      display: flex;
      flex-direction: column;

      @include responsive(md) {
        margin-top: 80px;
      }
    }

    &-card {
      .ant-tabs-content {
        flex: 1 1 auto;

        & > .ant-tabs-tabpane {
          background: #ffffff;
        }
      }

      & > .ant-tabs-nav::before {
        display: none;
      }

      .ant-tabs-tab {
        background: transparent;
        border-color: transparent;

        &-active {
          background: #ffffff;
          border-color: #ffffff;
        }
      }
    }
  }

  .ant-table-title {
    background-color: #fafafa;
    text-align: center;
  }

  .tabs-settings {
    padding-left: 16px;
    padding-right: 16px;

    & > div {
      max-width: 640px;
      margin: 20px auto;
    }
  }
}
