.ffxiv {
  position: relative;
  display: flex;
  flex-direction: column;

  .ant-tabs {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    &-tab {
      border-radius: 0 !important;
    }

    &-content-holder {
      flex: 1 1 auto;
      position: relative;
      display: flex;
      flex-direction: column;
    }

    &-card {
      .ant-tabs-content {
        flex: 1 1 auto;
        margin-top: -16px;

        & > .ant-tabs-tabpane {
          background: #ffffff;
        }
      }

      & > .ant-tabs-nav::before {
        display: none;
      }

      .ant-tabs-tab {
        background: transparent;
        border-color: transparent;

        &-active {
          background: #ffffff;
          border-color: #ffffff;
        }
      }

      .ant-alert,
      .ant-card {
        margin-left: 1rem;
        margin-right: 1rem;
      }
    }
  }

  .ant-table-title {
    background-color: #fafafa;
    text-align: center;
  }

  .tabs-about {
    & > div {
      max-width: 45.7143rem;
      margin: 1.4286rem auto;
    }
  }
}
