.mc {
  padding: 32px;

  &__card {
    .ant-card-body {
      padding: 0;
    }

    .ant-card:not(:first-child) {
      margin-top: 32px;
    }

    .list__item {
      padding-left: 24px !important;
      padding-right: 24px !important;
    }
  }

  .blist {
    padding: 14px 24px;

    &__item:not(:last-child) {
      margin-right: 10px;
    }
  }

  .preview {
    width: 100%;
    padding-top: 56.25%;

    .ant-carousel {
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      overflow: hidden;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
    }
  }

  .download .ant-btn {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }
}
