.btn,
.transparentColor {
  border: none;
  outline: none;
  background-color: transparent;
  border-radius: $corner-radius;
  cursor: pointer;
  transition: background-color $transition-fast ease;
  font-size: $font-md;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  color: inherit;

  &:hover,
  &.disabled {
    background-color: var(--color-transparent-active);
  }
}

// 已关闭的按钮
.disabled {
  cursor: not-allowed;
}

// 各种颜色
.primaryColor {
  color: #fdfdfd;
  background-color: var(--color-primary);

  &:hover,
  &.disabled {
    background-color: var(--color-primary-active);
  }
}

.successColor {
  color: #fdfdfd;
  background-color: var(--color-success);

  &:hover,
  &.disabled {
    background-color: var(--color-success-active);
  }
}

.dangerColor {
  color: #fdfdfd;
  background-color: var(--color-danger);

  &:hover,
  &.disabled {
    background-color: var(--color-danger-active);
  }
}

// 各类尺寸
.smallSize {
  height: 24px;
  padding: 0 7px;
}

.mediumSize {
  height: 32px;
  padding: 4px 15px;
}

.largeSize {
  height: 40px;
  padding: 6px 15px;
  font-size: $font-lg;
}

// 带图标的
.withIcon {
  justify-content: space-between;

  & > * {
    margin-right: 6px;
  }
}

// 只有图标的正方形按钮
.onlyIcon {
  padding: 0;
  justify-content: center;

  &.smallSize {
    width: 24px;
  }

  &.mediumSize {
    width: 32px;
  }

  &.largeSize {
    width: 40px;
  }
}
