.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.undraw {
  height: 200px;

  svg {
    height: 200px;
  }
}

.btn {
  box-shadow: var(--box-shadow);
}

.text {
  font-size: $font-lg;
}
