.anime {
  .weekday {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 21px;

    .ant-pagination {
      margin-right: 8px;

      &-item {
        padding: 0 14px;

        &-active {
          background-color: $color-primary;
          color: #ffffff;
          font-weight: unset;
        }
      }
    }

    @include responsive(md) {
      .ant-pagination-item:not(.ant-pagination-item-active) {
        display: none;
      }

      .ant-pagination-item-active {
        background-color: #ffffff;
        color: unset;
      }

      .ant-pagination-item-link {
        padding: 0 28px;
      }
    }

    b {
      font-weight: 500;
    }
  }

  .meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 14px 21px 5px 35px;

    &__sort > span {
      margin-right: 10px;
    }

    @include responsive(md) {
      flex-direction: column;
      justify-content: center;

      &__sort {
        margin-top: 7px;
      }
    }
  }

  .display {
    display: flex;
    justify-content: center;

    &__item {
      display: 0 1 auto;
      flex: 1 1 33%;
      overflow: hidden;

      &:first-child {
        margin: 21px;
      }

      &:not(:first-child) {
        margin: 21px;
        margin-left: 0;
      }

      &:first-child,
      &:last-child {
        .ant-card-head-title {
          font-weight: normal;
        }
      }
    }

    .ant-card {
      &-head {
        text-align: center;
      }

      &-body {
        padding: 0 14px;
      }
    }
  }

  .bangumi {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    position: relative;

    .ant-image {
      width: 70px;
      height: 70px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 2px;
    }

    &__wrapper {
      padding: 4px;
      padding-right: 0;
    }

    &__image {
      flex: 0 0 auto;
    }

    &__meta {
      flex: 1 1 auto;
      margin-left: 14px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      height: 74px;
      align-items: flex-start;
      cursor: pointer;

      .ant-rate-disabled .ant-rate-star {
        cursor: pointer;
      }
    }

    &__name {
      font-size: $font-size-lg;
    }

    &__sub {
      font-size: $font-size-sm;
      color: rgba(0, 0, 0, 0.45);
    }

    &__name,
    &__sub {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &__stat {
      flex: 1 1 auto;
      align-self: stretch;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      flex-wrap: nowrap;
      font-size: 15px;

      .ant-rate {
        font-size: 15px;
        color: $color-primary;
      }

      & > div:last-child .anticon svg {
        font-size: 15px;
        color: $color-primary;
      }

      & > div {
        font-size: 14px;
        white-space: nowrap;
      }
    }
  }
}
