.home {
  position: relative;
  min-height: $content-min-height;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    color: hsla(0, 0%, 100%, 0.55);
    font-size: $font-size-xl * 3;
    white-space: nowrap;
    overflow: visible;

    @include responsive(sm) {
      font-size: $font-size-xl * 2;
    }
  }

  &__links {
    display: flex;

    .ant-btn {
      color: hsla(0, 0%, 100%, 0.55);
      border-color: hsla(0, 0%, 100%, 0.55);
      margin: 0 0.75rem;

      &:hover {
        color: $color-primary;
        border-color: $color-primary;
      }
    }
  }

  &__license {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0.25rem;
    color: hsla(0, 0%, 100%, 0.55);
  }
}
