$title-light: hsla(0, 0%, 100%, 0.55);
$title-dark: hsla(0, 0%, 0%, 0.45);

.home {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    color: $title-dark;
    font-size: $font-size-xl * 3;
    white-space: nowrap;
    overflow: visible;

    @include responsive(sm) {
      font-size: $font-size-xl * 2;
      color: $title-light;
    }
  }

  &__links {
    display: flex;

    .ant-btn {
      color: $title-dark;
      border-color: $title-dark;
      margin: 0 0.75rem;

      @include responsive(sm) {
        color: $title-light;
        border-color: $title-light;
      }

      &:hover {
        color: $color-primary;
        border-color: $color-primary;
      }
    }
  }

  &__license {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0.25rem;
    color: $title-dark;

    @include responsive(sm) {
      color: $title-light;
    }
  }
}
