.kata-code {
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;

  &-func {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
  }

  &-source,
  &-encoded {
    flex: 1 1 auto;

    textarea {
      resize: none;
      height: 100%;
    }
  }

  &-ctrl {
    align-self: center;
    padding: 0 2rem;
  }

  &-info {
    padding-top: 2rem;
  }
}
