.kata-code {
  padding: 28px 56px;
  display: flex;
  flex-direction: column;

  @include responsive(sm) {
    padding: 14px;
  }

  &-func {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;

    @include responsive(sm) {
      flex-direction: column;
    }
  }

  &-source,
  &-encoded {
    flex: 1 1 auto;

    textarea {
      resize: none;
      height: 100%;

      @include responsive(sm) {
        height: 20vh;
      }
    }
  }

  &-ctrl {
    align-self: center;
    padding: 0 28px;

    @include responsive(sm) {
      padding: 14px;

      .ant-space {
        flex-direction: row;

        &-item {
          margin-bottom: 0 !important;

          &:not(:first-child) {
            margin-left: 7px;
          }
        }
      }
    }
  }

  &-info {
    padding-top: 28px;

    @include responsive(sm) {
      padding-top: 14px;
    }
  }
}
