.footer {
  position: relative;
  background-color: #ffffff !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: $font-size-sm;
  line-height: 1.5;
  padding: $space-xs 0;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.55);
  overflow: hidden;

  &__icon {
    position: absolute;
    right: $space-xs;
    bottom: -46px;
    width: 7rem;
    height: 7rem;
    animation: spin 5s infinite linear;
  }
}
