.header {
  padding-top: $space-xs;
  padding-bottom: $space-xs;
  box-shadow: $shadow-box;

  &__clock {
    width: 7rem;
  }

  &__copy {
    display: block;
    width: 128px;
    margin-top: $space-xs;
  }
}
