.header {
  padding-top: $space-xs;
  padding-bottom: $space-xs;
  border-bottom: $border-box;
  height: $header-height;

  &__clock {
    width: 7rem;
  }

  &__copy {
    display: block;
    width: 9.1429rem;
    margin-top: $space-xs;
  }

  .ant-page-header-heading {
    flex-wrap: nowrap;

    &-title {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &-sub-title {
      overflow: visible;
      white-space: nowrap;
    }
  }

  @include responsive(sm) {
    &__clock {
      display: none;
    }
  }
}
