.qrcode {
  width: 9.1429rem !important;
  height: 9.1429rem !important;
  display: block;

  &--loading {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(190, 190, 190, 0.2);
  }
}
