.sidebar {
  min-height: 100%;
  font-size: $font-size-lg;

  a {
    font-size: $font-size-lg;
  }

  &__icon {
    padding: 0 !important;
    margin: 0 !important;
    height: unset !important;
    max-height: unset !important;
    cursor: auto;
  }
}
