.sidebar {
  min-height: 100%;
  font-size: $font-size-lg;

  a {
    font-size: $font-size-lg;
  }

  &__icon {
    padding: 0 !important;
    margin: 0 !important;
    height: unset !important;
    max-height: unset !important;
    cursor: auto;
  }
}

.ant-tooltip-inner,
.ant-tooltip-arrow-content {
  background-color: #ffffff !important;
  border-color: #ffffff !important;

  a {
    color: rgba(0, 0, 0, 0.85) !important;

    &:hover {
      color: $color-primary !important;
    }
  }
}
