.z-radio {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  height: 32px;
  padding: 0 5px;

  &__inner {
    appearance: none;
    outline: none;
    cursor: pointer;
    margin-right: 5px;
    position: relative;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: $border-size solid var(--color-primary);
    background-color: transparent;
    transition: background-color $transition-fast ease;

    &:hover {
      background-color: var(--color-bg-active);
    }

    &:checked {
      background-color: var(--color-primary);
    }
  }
}
