.info {
  padding: 2.2857rem;

  .personal {
    display: flex;
    align-items: center;
    min-height: 5.1429rem;

    &__card {
      .ant-card-body {
        padding-top: 56.25%;
        position: relative;

        .ant-image {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          overflow: hidden;
        }
      }
    }

    &__image {
      position: absolute;
      top: -3.4286rem;
    }

    &__avatar {
      width: 3.4286rem;
      border-radius: 50%;
      display: inline-block;
      margin: 0.8571rem;
      margin-left: 2.2857rem;
    }

    &__id {
      display: inline-block;
      font-size: $font-size-xl * 1.25;
    }
  }

  &__card {
    .ant-card-body {
      padding: 0;
    }

    .ant-card:not(:first-child) {
      margin-top: 2.2857rem;
    }

    .opensource__item {
      padding-left: 1.7143rem !important;
      padding-right: 1.7143rem !important;
    }
  }
}
