.info {
  padding: 32px;

  .personal {
    display: flex;
    align-items: center;
    min-height: 72px;

    &__card {
      .ant-card-body {
        padding-top: 56.25%;
        position: relative;

        .ant-image {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          overflow: hidden;
        }
      }
    }

    &__image {
      position: absolute;
      top: -48px;
    }

    &__avatar {
      width: 48px;
      border-radius: 50%;
      display: inline-block;
      margin: 12px;
      margin-left: 32px;
    }

    &__id {
      display: inline-block;
      font-size: $font-size-xl * 1.25;
    }
  }

  &__card {
    .ant-card-body {
      padding: 0;
    }

    .ant-card:not(:first-child) {
      margin-top: 32px;
    }

    .opensource__item {
      padding-left: 24px !important;
      padding-right: 24px !important;
    }
  }
}
