$font-family-base: -apple-system, BlinkMacSystemFont, 'SF Pro Text', 'Segoe UI', 'Arial',
  'Helvetica Neue', 'Helvetica', 'PingFang SC', 'Hiragino Sans GB', 'Source Han Sans CN',
  'Source Han Sans SC', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
$font-family-mono: 'Cascadia Code', 'SF Mono', 'Fira Code', 'Consolas', monospace;

$font-size-xs: 10px;
$font-size-sm: 12px;
$font-size-base: 14px;

$space-xs: 0.725rem;
$space-sm: 0.85rem;
$space-base: 1rem;

$shadow-box: 0 0.1425rem 0.5725rem #eeeeee;
$border-box: 1px solid #eeeeee;
