$font-family-cjk: 'Noto Sans SC', 'Noto Sans JP';
$font-family-base: Inter, $font-family-cjk, -apple-system, BlinkMacSystemFont, sans-serif;
$font-family-mono: 'Fira Code', $font-family-cjk, monospace;

$font-size-xs: 10px;
$font-size-sm: 12px;
$font-size-base: 14px;
$font-size-lg: 15px;
$font-size-xl: 17px;

$responsive-lg: 992px;
$responsive-md: 768px;

$space-xs: 10px;
$space-sm: 12px;
$space-base: 14px;

$color-primary: #8aa2d3;

$shadow-box: 0 2px 8px #eeeeee;
$border-box: 1px solid #eeeeee;

$header-height: 62px;
$footer-height: 58px;
$content-min-height: calc(100vh - 120px);

@mixin responsive($size) {
  @if $size == md {
    @media screen and (max-width: $responsive-lg) {
      @content;
    }
  } @else if $size == sm {
    @media screen and (max-width: $responsive-md) {
      @content;
    }
  } @else {
    @content;
  }
}
