$font-family-base: -apple-system, BlinkMacSystemFont, 'SF Pro Text', 'Segoe UI', 'Arial',
  'Helvetica Neue', 'Helvetica', 'PingFang SC', 'Hiragino Sans GB', 'Source Han Sans CN',
  'Source Han Sans SC', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
$font-family-mono: 'Cascadia Code', 'SF Mono', 'Fira Code', 'Consolas', monospace;

$font-size-xs: 0.7143rem;
$font-size-sm: 0.8571rem;
$font-size-base: 14px;
$font-size-lg: 1.0714rem;
$font-size-xl: 1.2143rem;

$responsive-lg: 992px;
$responsive-md: 768px;

$space-xs: 0.725rem;
$space-sm: 0.85rem;
$space-base: 1rem;

$color-primary: #8aa2d3;

$shadow-box: 0 0.1425rem 0.5725rem #eeeeee;
$border-box: 1px solid #eeeeee;

$header-height: 4.4rem;
$footer-height: 4.2rem;
$content-min-height: calc(100vh - 8.6rem);

@mixin responsive($size) {
  @if $size == md {
    @media screen and (max-width: $responsive-lg) {
      @content;
    }
  } @else if $size == sm {
    @media screen and (max-width: $responsive-md) {
      @content;
    }
  } @else {
    @content;
  }
}
