.container {
  padding: $space-card;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  flex: 1 1 auto;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: stretch;

  @include responsive {
    flex-direction: column;
  }
}

.card {
  flex: 1 1 auto;
  background-color: var(--color-bg);
  padding: $space-card;
  border-radius: $corner-radius;
  position: relative;
  box-shadow: var(--box-shadow);
}

.control {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include responsive {
    flex-direction: row;
  }
}

.btn {
  margin: calc($space-card / 2) $space-card;
  box-shadow: var(--box-shadow);

  @include responsive {
    margin: $space-card calc($space-card / 2);
  }
}

.input {
  width: 100% !important;
  height: 100% !important;
  resize: none;
}

.notice {
  flex: 0 0 auto;
  margin-top: $space-card;
  width: 80%;

  @include responsive {
    width: unset;
  }
}
