.app {
  min-height: 100vh;

  // sidebar
  .ant-layout-sider {
    overflow-y: auto;
    min-height: 100vh;
    height: 100vh;

    @include responsive(sm) {
      position: fixed;
      left: 0;
      z-index: 999;
    }
  }

  .sidebar__layout {
    background-color: #ffffff;
  }

  // content
  .ant-layout {
    overflow-y: auto;
    min-height: 100vh;
    height: 100vh;
  }

  .header__layout {
    padding: 0 0;
    height: unset;
    line-height: unset;
  }

  .header__affix {
    z-index: 99;
  }

  .content__layout {
    z-index: 10;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;

    & > * {
      flex: 1 1 auto;
    }

    .footer {
      flex: 0 0 auto;
    }
  }

  .header__layout {
    background-color: #ffffff;
  }
}
