.app {
  min-height: 100vh;

  .header__layout,
  .footer__layout {
    padding: 0 0;
    height: unset;
    line-height: unset;
  }

  .header__affix {
    z-index: 99;
  }

  .content__layout {
    z-index: 10;
    overflow-x: hidden;
  }

  .header__layout,
  .footer__layout,
  .sidebar__layout {
    background-color: #ffffff;
  }

  .ant-layout-sider {
    overflow-y: auto;
    height: 100vh;

    @include responsive(sm) {
      position: fixed;
      left: 0;
      z-index: 999;
    }
  }
}
