$body-font-family: -apple-system, BlinkMacSystemFont, 'SF Pro Text', 'Helvetica Neue', 'Helvetica',
  'Arial', 'PingFang SC', 'Hiragino Sans GB', 'Source Han Sans CN', 'Source Han Sans SC',
  'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;

$responsive-width: 640px;
$responsive-desktop: 960px;

$color-primary: #8aa2d3; // https://irocore.com/aofuji/
$color-secondary: #3f4551; // https://irocore.com/konnezu/
$color-info: #8f82bc; // https://irocore.com/fujimurasaki/
$color-error: #ff8080;
