.sidebar-animation-enter {
  width: 0;
  opacity: 0;
}
.sidebar-animation-enter-active {
  width: $width-sidebar;
  opacity: 1;
  transition: width $transition-slow ease, opacity $transition-slow ease;
}
.sidebar-animation-enter-done {
  width: $width-sidebar;
  opacity: 1;
}
.sidebar-animation-exit {
  width: $width-sidebar;
  opacity: 1;
}
.sidebar-animation-exit-active {
  width: 0;
  opacity: 0;
  transition: width $transition-slow ease, opacity $transition-slow ease;
}
.sidebar-animation-exit-done {
  display: none;
}
